<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{{if .Query}} {{.Query}} {{else}} Search {{end}}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/search">Search</a>
    </div>
</nav>
<div class="container">
    <br>
    <form method="get">
        <div class="form-row">
            <div class="form-group col-md-5">
                <input type="text" id="query" class="form-control form-control-lg" placeholder="Query" name="q" value="{{.Query}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="search-alg">Search Algorithm</label>
                <select class="form-control" id="search-alg" name="alg">
                    <option {{if eq .Algorithm "BM25"}}selected{{end}}>BM25</option>
                    <option {{if eq .Algorithm "Classic TF-IDF"}}selected{{end}}>Classic TF-IDF</option>
                    <option {{if eq .Algorithm "Boolean"}}selected{{end}}>Boolean</option>
                    <option {{if eq .Algorithm "Terms"}}selected{{end}}>Terms</option>
                    <option {{if eq .Algorithm "Fuzzy"}}selected{{end}}>Fuzzy</option>
                    <option {{if eq .Algorithm "Wildcard"}}selected{{end}}>Wildcard</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <br>
    <table class="table">
        {{range $val := .Results}}
            <tr>
                <td>
                    <a href="{{.URL}}">{{.Title}}</a>
                    <hr>
                    <p>
                        {{.Body}}
                    </p>
                </td>
            </tr>
        {{end}}
    </table>
    {{if .Query}}
        <nav aria-label="SERP">
            <ul class="pagination">
                <li class="page-item {{if eq .PrevURL "#"}}disabled{{end}}">
                    <a class="page-link" href={{.PrevURL}}>
                        <span aria-hidden="true">&larr;</span>Previous
                    </a>
                </li>
                <li class="page-item active">
                    <span class="page-link">
                        {{.Page}}<span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item {{if eq .NextURL "#"}}disabled{{end}}">
                    <a class="page-link" href={{.NextURL}}>
                        Next<span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {{else}}
        <div class="jumbotron">
            <h1>Search Engine</h1>
            <p class="lead">Basic search engine with 5 kinds of search algorithms<br></p>
            <ol>
                <li>Okapi BM25 search algorithm with <em>k</em>=0.9 and <em>b</em>=0.4.</li>
                <li>TF-IDF vector space model.</li>
                <li>Boolean Queries using && (and) and || (or).</li>
                <li>Exact term matching.</li>
                <li>Fuzzy queries.</li>
                <li>Wildcard queries using *.</li>
            </ol>
            <p class="lead">Documents are taken from the introductory paragraph of Wikipedia articles, using the <a href="https://www.mediawiki.org/wiki/API:Main_page">MediaWiki action API</a></p>
            <p class="lead">
                Source<br><a href="https://github.com/muraokamasaki">Github</a>
            </p>
            <hr>
            <p>
                Reference<br>
                Christopher D. Manning, Prabhakar Raghavan, and Hinrich Schütze. 2008. Introduction to Information Retrieval. Cambridge University Press, USA.
            </p>
        </div>
    {{end}}
</div>
</body>
</html>